#Microsoft {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  padding-top: 15%;
}
#nav a {
  text-decoration: none;
  color: black;
}
#nav {
  display: flex;
  justify-content: space-around;
}
#buttons {
  border-radius: 40%;
  border-color: red;
  background-color: white;
  color: red;

  
}
#button {
  border-radius: 40%;
  background-color: red;
  color: white;
  
  
}
#Button {
  background-color: white;
  color: black;
  border-radius: 40%;
 
}
#Buttons {
  background-color: red;
  color: white;
  border-radius: 40px;
  padding: 5%;
  position: absolute;
  right: 5px;
  top: 5px;
}
#Upgrade {
  display: flex;
  justify-content: space-around;
}
#image {
  height: 500px;
  object-fit: cover;
}
#monthly {
   display: flex;
   gap: 100px;
   padding-top: 10%;
  
}
.hero{
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#skill{
  display: flex;
}
#Subscription{
  display: flex;
  margin-right: 30px;
 

}
#Money{
   display: flex; 
  margin-left: 10px;
}
body{
  background-color:white;
  
  
  
}
/* #Body{
  background-color:whitesmoke;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: 120px;
  margin-left: 120px;
  border-radius: 40px;
  padding: 10px;
  
} */
#input{
  
padding: 5%;
  padding-right: 40px;
}
#Explore{
  position: relative;
}
#upgrade{
  font-size: large;
}
.navy{
  color: navy;
}
.big{
  font-size: x-large;
}
#Image1{
  height: 25px;

}
#Image2{
  height: 55px;
}
#Image3{
  height: 25px;
}
#tick{
  height: 10px;
}
#degree{
  height: 25px;
  padding-bottom: 20px;
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
}
@media screen and(min-width:560) and (max-width:760px){
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
}
@media screen and(min-width:770px) and(max-width:970px){
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
}
