#Microsoft {
  display: flex;
  justify-content: space-around;
  /* gap: 10%; */
  padding-top: 10%;
}
/* #nav a {
  text-decoration: none;
  color: black;
} */
#nav a{
  display: flex;
  flex-direction:row;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
#nav{
  display: flex;
  justify-content: space-around;
}
#buttons {
  border-radius: 40%;
  border-color: red;
  background-color: white;
  color: red;
  /* width: 5%;
  font-size: large; */

  
}
#button {
  border-radius: 40%;
  background-color: red;
  color: white;
  /* width: 5%;
  font-size: large; */
  
  
}
#Button {
  background-color: white;
  color: black;
  border-radius: 40%;
 
}
#Buttons {
  background-color: red;
  color: white;
  border-radius: 40px;
  padding: 5%;
  position: absolute;
  margin-left: -90px;

}
#Upgrade {
  display: flex;
  justify-content: space-around;
}
#image {
  height: 500px;
  object-fit: cover;
}
#monthly {
   display: flex;
   gap: 100px;
   padding-top: 10%;
  
}
.hero{
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#skill{
  display: flex;
}
#Subscription{
  display: flex;
  margin-right: 30px;
 

}
#Money{
   display: flex; 
  margin-left: 10px;
}
body{
  background-color:white;
  
  
  
}
/* #Body{
  background-color:whitesmoke;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: 120px;
  margin-left: 120px;
  border-radius: 40px;
  padding: 10px;
  
} */
#input{
  
padding: 5%;
  padding-right: 40px;
  border-radius: 50px;
  width: 200px;
}
#Explore{
  position: relative;
}
#upgrade{
  font-size: large;
}
.colornavy{
  color: navy;
}
.big{
  font-size: x-large;
}
#Image1{
  height: 25px;

}
#Image2{
  height: 55px;
}
#Image3{
  height: 25px;
}
#tick{
  height: 30px;
}
#degree{
  height: 45px;
  padding-bottom: 20px;
}
#Body{
  font-size: xx-large;
}
@media screen and (min-width: 270px) and (max-width: 470px) {
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
  #Body{
    font-size: smaller;
  }
  
  
}
@media screen and(min-width:470px) and (max-width:670px){
  #nav {
    display: flex;
     flex-wrap: wrap; 
    
    
    
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
  #Body{
    font-size: smaller;
  }
}
@media screen and (min-width:670px) and (max-width:870px){
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
  #Body{
    font-size: smaller;
  }
}
@media screen and (min-width:870px) and (max-width:1070px){
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 100px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
  #Body{
    font-size: smaller;
  }
}
@media screen and (min-width:1070px) and (max-width:1270px){
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
  #Body{
    font-size: smaller;
  }

}
@media screen and (min-width:1270px) and (max-width:1470px){
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #Upgrade {
    display: flex;
    flex-wrap: wrap;
  }
  #image {
    width: 300px;
    object-fit: cover;
  }

  #monthly {
    display: flex;
  }
  #Microsoft{
    display: flex;
  flex-wrap: wrap;
  }
  #Body{
    font-size: smaller;
  }
  @media screen 
}